body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .material-icons{
    display: inline-flex;
    vertical-align: top;
}

  main {
    flex: 1 0 auto;
  }


      
.flexnavbar{
    display:flex;
    flex:1;
    color:black;
    width:100%;
    align-items: flex-start;
    height: 6rem;
}
.showcase{
    
    background-image: url(uber1.webp);
    background-size: cover;
    width:100%;
    height:auto;
}
img{
    margin-left:0;
}

.container2{
    display:flex;
    justify-content:space-between; 
}
.brand-logo{
    margin-left:0px;/*container icerisinde margin verdi!*/
}
.flow-text{/*I took Uber a little bit inside*/
    margin-left:60px;
}
.content{
    max-width:40%;
    height:auto;
    border:3px solid white;
    margin-left:217px;
    padding-right:100px;
    padding-left:50px;
    background:white;
    color:black;
    
}
.content2{
    max-width: 40%;
    margin-left:150px;
}
.showcase{
    background-color:rgb(214, 181, 170);
}
.row{
    
    width:70%;
}
.dropdown-content{
  min-width: 165px;
  
}
.stretch{
    
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    height:10rem;
}

@media (max-width:600px){/*floats mobile phone view begins*/
    
    .row{
        display:block;
        width:100%;    
    }
    img{
        width:95%;
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 1024px) /*grid floats tablet view */
{
    .row{
        display:block;
        width:100%;    
    }  
}
