body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .material-icons{
    display: inline-flex;
    vertical-align: top;
}

  main {
    flex: 1 0 auto;
  }


      
.flexnavbar{
    display:flex;
    flex:1;
    color:black;
    width:100%;
    align-items: flex-start;
    height: 6rem;
}
.showcase{
    
    
    background-size: cover;
    width:100%;
    height:auto;
}
img{
    margin-left:0;
}

.container2{
    display:flex;
    justify-content:space-between; 
}
.brand-logo{
    margin-left:0px;/*container icerisinde margin verdi!*/
}
.flow-text{/*I took Uber a little bit inside*/
    margin-left:60px;
}
.content{
    max-width:40%;
    height:auto;
    border:3px solid white;
    margin-left:217px;
    padding-right:100px;
    padding-left:50px;
    background:white;
    color:black;
    
}
.content2{
    max-width: 40%;
    margin-left:150px;
    margin-top:35px;
}
.showcase{
    background-color:#eec688;
}
.row{
    margin-top:30px;
    width:70%;
    margin-left:125px;
}
.dropdown-content{
  min-width: 165px;
  
}
.stretch{
    
    display:block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    height:10rem;
}

nav-wraper{
    display:block;
}
.footericons{
    display:flex;
    flex-direction:row;
    width:50%;
    justify-content: space-between;
    color:white;
    margin-left:30px;

}
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
    color:white;
}

@media (max-width:600px){/*floats mobile phone view begins*/
    
    .row{
        display:block;
        width:100%;
        margin-left:0px;  
    }
    img{
        width:95%;
    }
    .img1{
        position:absolute;
        vertical-align:bottom;

    }
    .footericons{
        
        display:flex;
        width:100%;
        flex:1
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 1024px) /*grid floats tablet view */
{
    .row{
        display:block;
        width:100%;    
    }  
}
.cemal{
    
        position:relative;
        align-items:flex-end;
        bottom:30px;
        left:50px;
        top:-2rem;
        
      }

      .stretch{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        background-color:white;
        display:flex;
        flex-direction:row;
        flex:1;
        height:100px;
        align-items:center;
       }
      
      .cemal{
        position:relative;
        align-items:flex-end;
        bottom:30px;
        left:50px;
        top:-2rem;
        
      }
      .nocolor{
        background-color:#eec688;
        display: block;
        
      }
      
      .img1{
        position:absolute;
        margin-top:50px;
        z-index:-1;
        height:750px;
        width:100%;
      }
      
      @media (max-width:600px){/*floats mobile phone view begins*/
          
          .row{
              display:block;
              width:100%;    
          }
          img{
              width:95%;
          }
        .img1{
          position:relative;
          
        }
        stretch{
          position:relative;
          
        }
        .showcase{
          position:relative;
          background-color:white;
        }
        .nocolor{
            background-color:white
        }
      }
      @media only screen and (min-width: 600px) and (max-width: 1024px) /*grid floats tablet view */
      {
        row{
              display:block;
              width:90%;
              margin-left:auto;
              margin-right:auto;   
          }  
        img1{
          position:relative
        }
        stretch{
          position:relative;
        }
        .showcase{
            
            background-color:white;
          }
          .nocolor{
              background-color:white
          }
      }

