body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .material-icons{
    display: inline-flex;
    vertical-align: top;
}


.showcase{/*Top part of the page*/
    
    background-size: cover;
    background-color:#eec688;
    width:100%;
    height:auto;
}

.content2{
    max-width: 40%;
    margin-left:150px;
    margin-top:35px;
}

.row{
    margin-top:-22px;
    width:70%;
    margin-left:125px;
}
.dropdown-content{
  min-width: 165px;
  
}

.obedienticons{
    
    position:relative;
    align-items:flex-end;
    bottom:30px;
    left:50px;
    top:-2rem;
    
  }



.footericons{
    display:flex;
    flex-direction:row;
    width:50%;
    justify-content: space-between;
    color:white;
    margin-left:30px;

}


  .secondnavbar{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    height:8rem;
    width:80%;
    margin-top:-15px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    flex:1;
    align-items:center;
   }
  
  
    
  
  .nocolor{
    background-color:#eec688;
    display: block;
    
  }
  
  .img1{
    position:absolute;
    margin-top:100px;
    z-index:-1;
    width:100%;
    height:680px;
    
  }
  h6{
      margin-left:15px;
  }
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
    color:white;
}

.finallinks{
    width:15%;
    display:flex;
    justify-content: start;
    
}

@media (max-width:600px){/*mobile phone view begins*/
    
    .row{
        display:block;
        width:100%;
        margin-left:0px;  
    }
    img{
        width:95%;
    }
    .img1{
        position:absolute;
        vertical-align:bottom;

    }
    .footericons{
        
        display:flex;
        width:100%;
        flex:1
    }
    
    
  .img1{
    position:relative;
    
  }
  
  .showcase{
    position:relative;
    background-color:white;
  }
  .nocolor{
      background-color:white;
  }
    
}/*mobile phone view ends*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {

.cemal{
    display:flex;
    flex:1;
    width:100%;
    height:100px;
    margin-right: auto;
    margin-left: auto;
    
    flex-direction: row;
    
}
    
  img1{
    position:relative
  }
  
  .showcase{
      
      background-color:white;
    }
    .nocolor{
        background-color:white
    }
}

/*tablet view ends*/



